In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
data=pd.read_csv("Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
#we want only specific features
remove=["User ID","Gender"]
data.drop(remove,inplace=True,axis=1)

X=data.iloc[:,:-1].values
Y=data.iloc[:,-1].values

In [5]:
xtr,xte,ytr,yte=train_test_split(X,Y,test_size=0.23)
xtr.shape

(308, 2)

In [6]:
sc=StandardScaler()
xtr1=sc.fit_transform(xtr)
xte1=sc.fit_transform(xte)

In [7]:
model=GaussianNB()
model.fit(xtr,ytr)

GaussianNB()

In [8]:
yp=model.predict(xte)
yp

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0], dtype=int64)

In [9]:
from sklearn.metrics import confusion_matrix ,accuracy_score

In [10]:
cm=confusion_matrix(yp,yte)
cm

array([[46,  5],
       [ 4, 37]], dtype=int64)

In [11]:
acc=accuracy_score(yp,yte)
acc

0.9021739130434783